/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007acc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

code {
    background-color: #f0f0f0;
    padding: 5px;
    font-family: monospace;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
