<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <base target="_blank" />
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <title>${metadata.title}</title>
    <meta name="DC.title" content="${metadata.DC_title}" />
    <meta name="description" content="${metadata.description}" />
    <meta name="DC.description" content="${metadata.DC_description}" />
    <meta name="DC.creator" content="${metadata.DC_creator}" />
    <meta name="DC.publisher" content="${metadata.DC_publisher}" />
    <meta name="robots" content="index" />
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="./images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./images/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="./images/manifest.json" />
    <link rel="mask-icon" sizes="any" href="./images/favicon.svg" color="#22874b">
    <meta name="apple-mobile-web-app-title" content="FOSSNOTE" />
    <meta name="msapplication-config" content="./images/browserconfig.xml" />
    <meta name="application-name" content="FOSSNOTE" />
    <meta name="msapplication-TileColor" content="#22874b" />
    <meta name="msapplication-TileImage" content="./images/mstile-144x144.png" />
    <meta name="theme-color" content="#22874b" />
    <link rel="stylesheet" type="text/css" href="./eleve/css/eleve.css" />
    <script type="text/javascript" src="./eleve/eleve_ext.js"></script>
    <script type="text/javascript" src="./eleve/traductions.js"></script>
    <script type="text/javascript" src="./eleve/imagesconnexion.js"></script>
    <script type="text/javascript" src="./eleve/eleve.js"></script>
    <script type="text/javascript">
        require('deferLoadingScript.js').add('jspdf', ['./eleve/eleve_jspdf.js']);
        require('deferLoadingScript.js').add('pep_poly', ['./eleve/eleve_pep_poly.js']);
        require('deferLoadingScript.js').add('tiny', ['./eleve/eleve_tiny.js']);
        require('deferLoadingScript.js').add('videojs', ['./eleve/eleve_videojs.js']);
        require('deferLoadingScript.js').add('defer', ['./eleve/eleve_defer.js']);
    </script>
    <script type="text/javascript">
        function messageErreur(e) {
            $.get("erreur/" + e).fail(function() {});
            alert("Erreur sur le chargement de la page. Veuillez vider le cache de votre navigateur.")
        }
    </script>
</head>

<body id="id_body" onload="try { Start () } catch (e) { messageErreur (e) } " class="EspaceIndex">
    <noscript style="position: absolute; top: 100px" class="Texte12 Gras Espace">Java script non activé.
        Veuillez le réactiver.</noscript>
    <div id="div" data-role="page" class="NePasImprimer" style="height:100%"></div>
    <a href="https://www.index-education.com/redirect.php?distrib=FR" target="_blank" style="display:none">FOSSNOTE 2023 - 0.3.0 gestion de vie scolaire, notes, compétences, absences/retards/dispenses, incidents/punitions/sanctions, stages... INDEX ÉDUCATION</a>
</body>

</html>